<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" ng-show="flowCtrl.state === flowCtrl.STATE_TABS">

    <div class="row nav-row">
        <div class="col-xs-3">
            <span class="glyphicon glyphicon-folder-close"></span>
        </div>
        <div class="col-xs-3">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div class="col-xs-3">
            <span class="glyphicon glyphicon-globe"></span>
        </div>
        <div class="col-xs-3">
            <span class="glyphicon glyphicon-leaf"></span>
        </div>
    </div>
</nav>
