<div ng-controller="SearchCtrl as searchCtrl" style="margin-top:10px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
    <ul class="list-group">
        <li class="list-group-item">
            <form id="loginform" class="form-horizontal" role="form">
                <label>Busqueda de Contratista</label>
                <input class="form-control" placeholder="Raz&oacute;n Social / CUIT">

                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->

                    <div class="col-sm-12 controls">
                        <a id="btn-login" href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-block">Buscar  </a>
                    </div>
                </div>
            </form>
        </li>
        <li class="list-group-item">
            <form id="loginform" class="form-horizontal" role="form">
                <label>Busqueda de Personal</label>
                <input class="form-control" placeholder="Nombre / Apellido / DNI">

                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->

                    <div class="col-sm-12 controls">
                        <a id="btn-login" href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-block">Buscar  </a>
                    </div>
                </div>
            </form>
        </li>
        <li class="list-group-item">
            <form id="loginform" class="form-horizontal" role="form">
                <label>Busqueda de Veh&iacute;culos</label>
                <input class="form-control" placeholder="Dominio / Patente">

                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->

                    <div class="col-sm-12 controls">
                        <a id="btn-login" href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-block">Buscar  </a>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>
